/* Styles for the component container */
.BeginnerProject {
  text-align: center;
  padding: 10px;
}

/* Styles for the heading */
h1 {
  text-align: center;
  margin: 20px;
  font-size: 24px;
}

/* Styles for project buttons */
.project-button {
  background-color: #007bff; /* Default button color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.project-button.selected {
  background-color: #28a745; /* Selected button color */
}
/* CSS for the dancing animation */
/* @keyframes dance {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(-5px); background-color: #ff5733; }
  50% { transform: translateY(0); background-color: #33ff57; }
  75% { transform: translateY(5px); background-color: #5733ff; }
} */

/* Apply the dancing animation and different background colors to each button */
.button1 {
  animation: dance 1s infinite 0.2s;
  background-color: #031b4e; /* Initial background color for button 1 */
}

.button2 {
  animation: dance 1s infinite 0.2s;
  background-color: #031b4e; /* Initial background color for button 2 */
}

.button3 {
  animation: dance 1s infinite 0.4s;
  background-color: #031b4e; /* Initial background color for button 3 */
}

/* Add similar styles for other buttons as needed */
