.skill-wrapper {
  text-align: center;
  padding: 2px;
  margin: auto;
}

.category-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.category-buttons button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

/* Add a hover effect */
.category-buttons button:hover {
  background-color: #0056b3;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  grid-gap: 16px;
  justify-content: center;
}

.skill-item {
  text-align: center;
  padding: 16px;
  background-color: #000a27;
  border-radius: 20px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  color: antiquewhite;
}
.skill-item:hover{

  background-color: #0056b3;

}
@media (min-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on larger screens */
  }
}
